* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$index: calc(1vw + 1vh);
$yellow: #fbd784;
$bg-color: #0b1d26;
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  color: #fff;
  background-color: $bg-color;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: rgba($color: #fff, $alpha: 0.5);
  }
  &::-webkit-scrollbar-thumb {
    background-color: #fff;
  }
}
body.active {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: initial;
  font-family: 'Chronicle Display-Bold', sans-serif;
}
ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  position: relative;
  margin: 0 auto;
  width: calc($index * 49.2);
}
@mixin slide-num {
  color: #ffffff1a;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: calc($index * 8);
  line-height: 240px;
}
@mixin before-title {
  display: block;
  color: $yellow;
  font-family: 'Gilroy-ExtraBold', sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-bottom: 27px;
}
@mixin main-title {
  font-family: 'Chronicle Display-Semibold', sans-serif;
  font-size: calc($index * 2.135);
  line-height: calc($index * 2.57);
}
@mixin main-subtitle {
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 18px;
  line-height: 32px;
  margin-top: 27px;
}
@mixin md-text {
  font-family: 'Gilroy-Bold';
  font-size: 18px;
  line-height: 22px;
}
@mixin logo {
  color: #fff;
  font-family: 'Chronicle Display-Bold', sans-serif;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1%;
  text-transform: capitalize;
  max-width: max-content;
}
@mixin hoverText {
  &::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-duration: 0.5s;
  }
  &:hover::after {
    width: 100%;
  }
}
.logo {
  @include logo;
  @include hoverText;
}
.header {
  position: absolute;
  width: 100vw;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc($index * 2.1335) calc($index * 2.66666);

  .hamburger-btn {
    display: none;
    cursor: pointer;
    position: relative;
    width: 35px;
    height: 35px;
    border: none;
    outline: none;
    background-color: transparent;
    z-index: 10000;

    span {
      display: block;
      width: 100%;
      height: 3px;
      background-color: #fff;
      border-radius: 1px;
      transition-duration: 0.5s;
      &:last-child {
        margin-top: 10px;
        width: 70%;
      }
    }
  }
  .header-nav {
    li {
      display: inline-block;
      @include md-text;
      @include hoverText;
      &:nth-child(2) {
        margin: 0px 35px;
      }
    }
  }
  .btn-header-account {
    position: relative;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 17px;
    line-height: 21px;
    display: flex;
    align-items: center;
    height: max-content;
    &::after {
      content: 'Account';
      margin-left: 10px;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: -5px;
      display: block;
      height: 2px;
      width: 0%;
      background-color: #fff;
      transition-duration: 0.5s;
    }
    &:hover::before {
      width: 100%;
    }
  }
}
.overlay-form.active {
  transform: translateX(0%);
}
.overlay-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(aliceblue, $alpha: 0.3);
  backdrop-filter: blur(3px);
  transition-duration: 1s;
  transform: translateX(-100%);
  z-index: 7000;
  overflow-y: auto;

  form {
    position: relative;
    display: block;
    background-color: $bg-color;
    padding: 30px 50px;
    min-height: 50vh;
    .btn-acc-close {
      position: absolute;
      text-align: center;
      outline: none;
      border: none;
      background-color: transparent;
      width: 35px;
      height: 35px;
      font-size: 35px;
      color: #fff;
      top: 0;
      right: 0;
      cursor: pointer;
      transition-duration: 0.5s;
      &:hover {
        transform: rotate(45deg);
      }
    }
    h3 {
      font-family: 'Gilroy-Bold', sans-serif;
      margin-bottom: 20px;
      font-size: 45px;
      text-align: center;
    }
    label {
      @include main-subtitle;
      input {
        background-color: transparent;
        height: 30px;
        width: 100%;
        padding: 10px 12px;
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid rgba($color: #fff, $alpha: 0.8);
        outline: none;
        color: #fff;
        margin-top: 5px;
        display: block;
        transition-duration: 0.5s;
        margin-bottom: 20px;
        &:hover {
          border: 1px solid #fff;
        }
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          box-shadow: 0 0 0 30px $bg-color inset !important;
          -webkit-text-fill-color: #ffffff;
        }
      }
    }

    input[type='checkbox'] {
      appearance: none;
      cursor: pointer;
      padding: 0;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #fff;
      border-radius: 2px;
      color: #fff;
      font-size: 16px;
      width: 18px;
      height: 18px;
      font-weight: 800;
      margin-right: 10px;
      &:checked::before {
        content: '✓';
        position: absolute;
      }
    }
    .label-agree {
      font-size: 16px;
      display: flex;
      justify-content: center;
    }
    .btn-submit {
      width: 100%;
      height: 32px;
      background-color: rgba($color: #fff, $alpha: 0.5);
      margin-top: 20px;
      color: #fff;
      border: none;
      outline: none;
      border-radius: 10px;
      cursor: pointer;
      transition-duration: 0.5s;
      &:hover {
        background-color: rgba($color: #fff, $alpha: 0.2);
      }
    }
  }
}
.section-nav {
  position: fixed;
  top: 30.19%;
  right: 5%;
  z-index: 5000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  @include md-text;
  label {
    display: flex;
    cursor: pointer;
    transition-duration: 0.5s;
    p {
      margin: 20px 32px;
    }
    &:hover {
      color: $yellow;
    }
    input {
      display: block;
      cursor: pointer;
      appearance: none;
      background-color: #fff;
      opacity: 0.5;
      width: 3px;
      transition-duration: 0.5s;
      &:hover {
        background-color: $yellow;
      }
      &:checked {
        opacity: 1;
      }
    }
  }
}
.section-hero {
  position: relative;
  overflow: hidden;
  padding-top: calc($index * 9.567);
  width: 100vw;
  min-height: 100vh;
  background: center/cover url('../images/bg/HG.webp') no-repeat $bg-color;
  .snow,
  .snow::after,
  .snow::before {
    content: '';
    position: absolute;
    z-index: 50;
    inset: -400px 0px 0px -250px;
    background-image: radial-gradient(4px 4px at 100px 50px, #fff, transparent),
      radial-gradient(2px 2px at 200px 150px, #fff, transparent),
      radial-gradient(4px 4px at 300px 250px, #fff, transparent),
      radial-gradient(3px 3px at 400px 350px, #fff, transparent),
      radial-gradient(1.5px 1.5px at 500px 100px, #fff, transparent),
      radial-gradient(2px 2px at 50px 200px, #fff, transparent),
      radial-gradient(4px 4px at 150px 300px, #fff, transparent),
      radial-gradient(1.5px 1.5px at 350px 500px, #fff, transparent),
      radial-gradient(4px 4px at 150px 400px, #fff, transparent);
    background-size: 650px 650px;
    animation: snow-anim 5s linear infinite;
  }
  .snow::before,
  .snow::after {
    margin-left: -150px;
    filter: blur(2px);
  }
  .snow::after {
    margin-left: -250px;
  }
  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      -12.53deg,
      rgba(11, 29, 38, 0) 31.055%,
      rgb(11, 29, 38) 108.93%
    );
  }
  .hero-main {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0px calc($index * 2.66666);
    z-index: 100;
    .hero-follow {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20px;
      p {
        @include md-text;
        transform: rotate(90deg);
        white-space: nowrap;
      }
      p + a {
        margin: 50px 0px 30px 0px;
      }
      img {
        transition-duration: 0.5s;
      }
      img:hover {
        transform: scale(1.1);
      }
    }
    .hero-title {
      font-family: 'Chronicle Display-Semibold', sans-serif;
      font-size: calc($index * 2.934);
      line-height: calc($index * 3.333);
      text-transform: capitalize;
      max-width: calc((1vw + 1vh) * 31.68);
      &::before {
        content: '⸻ A Hiking guide';
        @include before-title;
        margin-bottom: 30px;
      }
      &::after {
        content: 'scroll down ↓';
        display: block;
        @include md-text;
        margin-top: 30px;
        animation: arrow-anim 0.7s cubic-bezier(0.55, 0.06, 0.68, 0.19) infinite
          both alternate;
      }
    }
  }

  .layers {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    background-image: linear-gradient(
      to bottom,
      transparent 90%,
      $bg-color 90%
    );
    .layers__back {
      transform: translate3d(0, calc(var(--scrollTop) / 3), 0);
      will-change: transform;
    }
    .layers__front {
      transform: translate3d(0, calc(var(--scrollTop) / 5), 0);
      will-change: transform;
    }
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: calc($index * 21);
      background: linear-gradient(
        180deg,
        rgba(11, 29, 38, 0),
        rgb(11, 29, 38) 61.384%
      );
      bottom: calc($index * 4.8);
    }
    & > * {
      height: auto;
      width: 100%;
      position: absolute;
    }
  }
}
.main {
  position: relative;
  width: 101vw;
  z-index: 1000;
  margin-top: calc($index * -5);
  background-color: $bg-color;
  .section-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
    & > :nth-child(1) {
      margin-right: calc($index * 4.8);
    }
    .img__left {
      margin-right: calc($index * 8.8);
    }
    .info-col {
      position: relative;
      &::before {
        content: attr(id);
        left: calc($index * -5);
        top: -100px;
        @include slide-num;
        position: absolute;
      }
      h2 {
        @include main-title;
      }
      .info-title {
        &::before {
          content: attr(data-bef);
          @include before-title;
          white-space: nowrap;
        }
      }
      .info-subtitle {
        @include main-subtitle;
        max-width: 600px;
      }
      a {
        display: block;
        width: max-content;
        margin-top: 30px;
        color: $yellow;
        @include md-text;
        transition-duration: 0.5s;
        @include hoverText;
        &::after {
          background-color: $yellow;
        }
      }
    }
    .img-col {
      max-width: calc($index * 25);
    }
  }
}
.footer {
  padding-bottom: 100px;
  .footer-content {
    display: flex;
    justify-content: space-between;
    .footer-col__left {
      display: flex;
      flex-direction: column;
      margin-right: 50px;
      p {
        @include main-subtitle;
        max-width: 300px;
        margin-top: 24px;
      }
      .footer-copy {
        opacity: 0.5;
        max-width: inherit;
        margin-top: auto;
      }
    }
    .footer-col__right {
      & > :nth-child(1) {
        margin-right: calc($index * 6.67);
      }
      .footer-menu {
        display: inline-block;
        vertical-align: top;
        li {
          margin: 8px 0px;
          @include hoverText;
          max-width: max-content;
          font-family: 'Gilroy-Medium', sans-serif;
          font-size: 18px;
          line-height: 32px;
          &:first-child {
            color: $yellow;
            font-family: 'Gilroy-Bold', sans-serif;
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 8px;
            &::after {
              background-color: $yellow;
            }
          }
        }
      }
    }
  }
}
@keyframes snow-anim {
  0% {
    transform: translate(-650px, -250px);
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: translate(650px, 650px);
    opacity: 0;
  }
}
@keyframes arrow-anim {
  0% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(6px);
  }
}
@media (max-width: 1024px) {
  .container {
    width: 96%;
  }
  .footer .footer-content .footer-col__right > :nth-child(1) {
    margin-right: calc((1vw + 1vh) * 2.67);
  }
  .main .section-content > :nth-child(1) {
    margin-right: calc((1vw + 1vh) * 1.8);
  }
  .main .section-content .info-col::before {
    left: -25px;
  }
  .main .section-content .img-col {
    max-width: calc((1vw + 1vh) * 22);
  }
  .section-nav {
    right: 2.5%;
  }
  .snow {
    display: none;
  }
}
@media (orientation: portrait) {
  .layers::after {
    background: linear-gradient(
      180deg,
      rgba(11, 29, 38, 0),
      rgb(11, 29, 38) 41.384%
    ) !important;
  }
  .layers {
    margin-top: -270px;
    & > *:last-child {
      bottom: 24%;
    }
  }
  .section-content {
    width: 100% !important;
    flex-direction: column;
    justify-content: center;
  }
  .main .section-content > :nth-child(1) {
    margin-right: inherit;
    margin-bottom: 70px;
  }
  .footer .footer-content {
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .footer-col__left {
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 45px !important;
    line-height: 100% !important;
  }
  h2 {
    font-size: 35px !important;
    line-height: 100% !important;
  }
  .hamburger-btn.active #bar1 {
    transform: rotate(45deg);
  }
  .hamburger-btn.active #bar2 {
    position: absolute;
    width: 100%;
    transform: rotate(-45deg) translate(10px, -9px);
  }
  .hamburger-btn.active {
    position: absolute;
    left: calc(50% - 35px / 2);
  }
  .header {
    .hamburger-btn {
      display: block;
    }

    .header-nav {
      transform: translateY(-100%);
      transition-duration: 0.5s;
      background-color: $bg-color;
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100vh;
      z-index: 6000;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      li {
        display: block;
        padding: 20px;
        border-bottom: 1px solid #fff;
        &:nth-child(2) {
          margin: inherit;
        }
      }
    }
    .header-nav.active {
      transform: translateY(0);
    }
  }
  .section-hero {
    .hero-main {
      align-items: baseline;
      flex-direction: column;
      .hero-follow {
        flex-direction: row;
        width: auto;
        margin-bottom: 25px;
        a {
          width: 20px;
          height: 20px;
        }
        p + a {
          margin: 0 30px;
        }
        p {
          transform: rotate(0);
        }
      }
    }
    .layers {
      & > *:first-child {
        bottom: 29%;
      }
      & > *:last-child {
        bottom: 24.5%;
      }
    }
  }
  .section-nav {
    display: none;
  }
  .main {
    .section-content {
      width: 100% !important;
      flex-direction: column;
      justify-content: center;
      .info-col {
        padding: 0px 10px;
        &::before {
          font-size: 150px;
        }
        .info-title::before {
          white-space: wrap;
        }
      }
    }
  }
  .footer {
    .footer-content {
      padding: 0px 10px;
    }
  }
}
@media (max-width: 450px) {
  .header {
    .btn-header-account {
      img {
        width: 35px;
        height: 35px;
      }
      &::after {
        content: '';
        margin-left: inherit;
      }
    }
  }
  .footer {
    .footer-content {
      .footer-col__right > :nth-child(1) {
        margin-right: inherit;
        margin-bottom: 20px;
      }
      .footer-col__right {
        .footer-menu {
          display: flex;
          flex-direction: column;
          align-items: center;
          li {
            text-align: center !important;
          }
        }
      }
    }
  }
  .section-hero {
    .layers {
      & > *:last-child {
        bottom: 25%;
      }
      &::after {
        height: calc((1vw + 1vh) * 23);
      }
    }
  }
}
@media (max-width: 1000px) and (orientation: landscape) {
  .overlay-form form {
    max-height: 100%;
    overflow-y: auto;
  }
}
